/* ==========================	
  DASHBOARD BODY
=========================== */	
.dashboard-container{
  margin: 0 auto;
} 

.dashboard-info{
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.scales-footer {
  height: 40px;
  background: url("../../../media/scales-bottomer.png");
  background-size: 80px 40px;
  background-repeat: repeat-x;
  opacity: .3;
}
