/* ==========================	
  DASHBOARD BODY
=========================== */	

.dashboard-container{
  margin: 0 auto;
} 

.dashboard-info{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

/* ==========================	
  BUTTON
=========================== */	

button {
    background-color: #BD1E1E;
    color: ghostwhite;
    font-size: 18px;
    line-height: 50px;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    padding: 20px 40px;
}
button:hover {
    background-color: #99CCFF;
    color: #2e4057;
}