/* ==========================	
HEADER
=========================== */	
.header-title-container {
  display: inline;
}

.header-title {
  display: inline;
  font-family: Rokkitt, serif;
  font-size: 40px;
}
.header-container {
  color: #BD1E1E;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 10px 0;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, .12), 0 3px 2px 0 rgba(0, 0, 0, .24)
}

/* ==========================	
LOGOUT 
=========================== */	
.user-box {
  align-items: center;
  font-size: 15px;
  display: flex;
}

.user-box i {
  color: #BD1E1E;
  margin-left: 10px;
  font-size: 30px;
}

i:hover {
  opacity:.5;
}

.logout-btn {
  padding-left: 10px
}

/* ==========================	
RETURN 
=========================== */	
.return-dash {
  align-items: center;
  font-size: 13px;
  display: flex;
}

.return-btn{
  padding-left: 10px;
}

/* ==========================	
USER 
=========================== */	
 #username p{
  display: inline;
  font-size: xx-large;
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
.header-title {
  font-size: 20px;
}
.user-title{
  display: none;
}
}