.modal-container {
  height: 150px;
  width: 300px;
  font-size: 18px;
  background-color: white;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
}
.feedback-card {

}
.feedback {

}
.return-btn {

}