h1,h2,h3,h4,h5{
  font-family: 'Rokkitt', serif;
}
* {
  font-family: 'Open Sans', sans-serif;
}
.title-image{
  height: 200px;
}
.login-container{
  margin: 0 auto;
  margin-top: 50px;
  width: 500px;
}
.login-button{
  width: 150px;
  margin: 0 auto;
  margin-top: 70px;
  border: 1px solid black;

}
.login-button a{
  text-decoration: none
}
.login-container a{
  margin-left: 10px;
}

.question-container {
  width: 300px;
  margin: 0 auto;
}
.card-container{
  position: relative;
}
.dummy-card {
  width: 200px;
  height: 200px;
  background-color: lightgray;
  border: 1px solid gray;
  border-radius: 4px;
}
/*This contains the value of the front card*/
.card-value {
  position:absolute;
  top: -100px;
  left: 50px;
  font-size: 100px;
}
/*This contains the values of the back card*/
.info-container{
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 15px;
}

form{
  margin-top: 50px;
}
.header-title{
  display: inline;
}
.header-container{
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  padding: 10px 0;
}